@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:ital,wght@0,400;1,200&family=Oswald:wght@500&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    background-color: rgba(24,24,24,255);
    

}
hr.line{
    border-top: 0px solid #FF0000;
}
.header{
    /* text-align: center; */
    /* margin: 0.2rem; */
    padding: 0.5rem;
    padding-left: 3rem;
    background-color: rgba(33,33,33,255);
   
}
.header input{
    width: 40rem;
    height: 2.5rem;
    background-color: rgba(24,24,24,255);
    font-weight: 500;
    padding: 1rem;
    color: white;
    font-size: medium;
}
.header svg{

}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     
}

.wordh{
    /* border: 1px solid blue; */
    display: flex;
    overflow-x: hidden;
    width:30rem ;
    background-color: rgba(33,33,33,255);
    overflow-x: scroll;
}
.word{
    margin:0.5rem 2rem;
    background-color: rgba(61,61,61,255);
    border-radius: 1.5rem;
    height: 2rem;
    text-align: center;
    
    color: white;
    padding-top: 0.3rem;
}
.vcard2{
    display: flex;
    margin: 1rem auto;
    text-align: left;
    /* color: white; */
}
.vcard2 img{
    width: 10rem;
}
.vfoot{
    padding:1rem;
}

#btn{
    /* margin-top: 2px; */
    /* margin: auto; */
    height: 2rem;
    width: 2rem;
    /* padding-top: 5px; */
    background-color:rgba(33,33,33,255);
    color: white;
}

#logo:hover{
    cursor: pointer;
}
.left{
    margin-left: 2rem;
    background-color:rgba(24,24,24,255) ;
    
}
.right{
    width: 30rem;
    text-align: right;
    background-color: rgba(24,24,24,255);
    color: white;
    font-size: small;
    /* overflow-y: scroll; */
    padding: 1rem;
    height: 100vh;
}
.video{
    color: white;
    font-size:small;
    /* border: 1px solid red; */
}
.vcard2:hover{
    cursor: pointer;
}
svg:hover{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {

   height: 5px; 
    width: 5px;
    border-radius: 5px;
  }
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

 .vcard:hover{
     cursor: pointer;
 }

 .right:hover{
    overflow-y: scroll;
 }